<div id="black_section">
  <div id="spacesFilter">
      <h1>Spaces</h1>
    <div style="height:5px; width: 100%"></div>
    from: <span style="margin-left:93px">to:</span><br>
    <form style="display: inline">
      <input type="date" class="filter_box" placeholder="from" name="from" style="font-size:12px" required>
      <input type="date" class="filter_box" placeholder="to" name="to" style="font-size:12px" required>
      <input type="submit" class="filter_button" value="filter">
    </form>
    <form style="display: inline">
    <input type="submit" class="listall_button" value="list all">
    </form>
  </div>
  <div id="listSpace">
    <% if @user %>
      <a href="/listSpace" class="listSpaceButton">List a space</a>
    <% else %>
      <div style="color:#FFF; font-size: 24px; font-weight: lighter; width:160px; text-align:center">
        Sign up or Log in to list a Space
      </div>
    <% end %>
  </div>
</div>


<div id="content">

  <ul id='spaces'>
    <% @spaces.each do |space| %>
      <li>
        <img id="photo" src="/image_uploads/small_<%= space.photo %>" alt="space photo" />
        <h1><%= space.name %></h1>
        <p>Price: <span class="orange">£<%= space.price   %></span> per night
        <br>
        Description:  <%= space.description %>
      </p>
        <a href="spaces/<%=space.id%>" class="viewSpace">view space</a>
      </li>
    <% end %>
  </ul>

</div>
