<% @date_list.each do |date, available| %>
	<% if available %>
	  <a href="/spaces/<%= params[:id] %>?date=<%= date %>"><%= date %></a>
    <br>
	<% else %>
    <%= date %>
    <br>
	<% end %>
<% end %>
<br>
Requested Date: <%= params[:date] %>


